/* Color utility */

.navbar-blue {
    background-color: #2C3E50;
    height: 10vh;
}

.jumbo-green {
    background-color: rgb(26, 188, 156);
}

.element {
    background-color: coral;
    height: 10vh;
}

.jumbo-element {
    background-color: darksalmon;
    height: 10vh;
}

.footer-blue {
    background-color: rgb(58, 84, 109);
    height: 30vh;
}

.footer-deep-blue {
    background-color: rgb(44, 62, 80);
    height: 20%;
}

.port-element {
    background-color: blueviolet;
    height: 15vh;
}
