/* Color utility */

.navbar-blue {
    background-color: #2C3E50;
}

.jumbo-green {
    background-color: rgb(26, 188, 156);
}

.footer-blue {
    background-color: rgb(58, 84, 109);
    height: 30vh;
}

.footer-deep-blue {
    background-color: rgb(44, 62, 80);
    height: 20%;
}
